/*
*  --- main.css ---
*
*   For now just a placeholder to get started!   
*
*/

/*
*   What font is to be used for user inputs and descriptions, etc.
*/
p, textarea {
    font-family:Arial;
}
.ethicalIssue, .stakeholders, .utilitarianism, .virtueEthics, .careEthics, .deontology{
    position: relative;
    float:left;
    padding: 0.5em;
    border: black solid;
    margin: 0.5em;
}

.ethicalIssue{
    width:40%;
    float: left;
}

.stakeholders{
    width:40%;
    float: right;
}

.ethicalIssue:hover{
    background-color: lightgoldenrodyellow;
}

.stakeholders:hover{
    background-color: lightgoldenrodyellow;
}

nav:hover{
    background-color:lightgoldenrodyellow;
}

h1{
    text-align: center;
}

/* style rules for page titles and subtitles*/
.pageTitle {
    font-family:Helvetica;
    font-size: 150%;
}
.pageSubtitle {
    font-family:Helvetica;
    background-color: rgba(150, 150, 150, 0.75);
    color:#FFFFFF;
    width:23em;
    font-size:1.5em;
    text-align:center;
    width:auto;
}